<template name="layout">

<body>
	<div class="container">
		<ul class="nav nav-pills" style="background-color:#76D7C4">
  			<li role="presentation">
  				<a href="{{pathFor 'home'}}"><b>Home</b></a>
  			</li>
  			<li role="presentation">
  				<a href="/about"><b>About</b></a>
  			</li>
 			 <li role="presentation">
 			 	<a href="/comments"><b>Comments</b></a>
 			 </li>
			 <li role="presentation">
 			 	<a href="/showFriends"><b>Request a Meal Buddy</b></a>
 			 </li>
			 <li role="presentation">
 			 	<a href="/table"><b>Potential Meal Buddies</b></a>
 			 </li>
			 <li role="presentation">
 			 	<a href="/settings"><b>My Settings</b></a>
 			 </li>
 			 <li>
 			 	{{> loginButtons}}
 			 </li>
		</ul>
	{{> yield}}

	</div>
</body>
</template>
